<div class="selector" uk-dropdown="delay-hide: 0; mode: click">
    <input type="text" class="comboinput">
    <div style="float: right" onClick="$('.selector').remove()">X &nbsp;</div>
    <ul class="choices">
        <li><span class="choice">One</span><span class="add">+</span> <br>Lorem ipsum dolor sit amet
            <span>...</span>
            <div uk-drop="delay-hide: 200; container: #detailtarget"
                 style="z-index: 99999"
                 class="details uk-card uk-card-default uk-card-body"
                 hx-get="nodeinfo.html"
                 hx-swap="innerHTML"
                 hx-trigger="intersect"
                 hx-vals="js:{nodeid:1}">Nodeinfo
            </div>
        </li>
        <li><span class="choice">Two</span><span class="add">+</span> <br>Lorem ipsum dolor sit amet</li>
        <li><span class="choice">Three</span><span class="add">+</span> <br>Lorem ipsum dolor sit amet</li>
        <li><span class="choice">Four</span><span class="add">+</span> <br>Lorem ipsum dolor sit amet</li>
        <li><span class="choice">Five</span><span class="add">+</span> <br>Lorem ipsum dolor sit amet</li>
        <li><span class="choice">Six</span><span class="add">+</span> <br>Lorem ipsum dolor sit amet
            <span>...</span>
            <div uk-drop="delay-hide: 200; container: #detailtarget"
                 style="z-index: 99999"
                 class="details uk-card uk-card-default uk-card-body"
                 hx-get="nodeinfo.html"
                 hx-swap="innerHTML"
                 hx-trigger="intersect"
                 hx-vals="js:{nodeid:6}">Nodeinfo
            </div>
        </li>
        <li><span class="choice">Seven</span><span class="add">+</span> <br>Lorem ipsum dolor sit amet</li>
        <li><span class="choice">Eight</span><span class="add">+</span> <br>Lorem ipsum dolor sit amet</li>
        <li><span class="choice">Nine</span><span class="add">+</span> <br>Lorem ipsum dolor sit amet</li>
        <li><span class="choice">Ten</span><span class="add">+</span> <br>Lorem ipsum dolor sit amet</li>
    </ul>
    <script>
        $('.selector input').val('').focus();
        $('.selector').toggle();
    </script>
</div>

