
<input placeholder="type something" class="myinput uk-width-1-2" value="one">
<div uk-dropdown="offset: 0; flip: false; shift: false" class="uk-width-1-2 uk-height-max-large" style="overflow: scroll" id="inputdrop">
    <div>
        <div hx-get="selection.html" hx-target="#widget">one<br>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla<br><span>...</span>
            <div uk-dropdown="offset: 50; delay-hide: 0;pos: right-top; container: #thedrop" hx-trigger="beforeshow" class="uk-width-1-2"
                 hx-get="nodeinfo.html" hx-target="this"></div>
            <hr>
        </div>
    </div>
    <div>
        <div hx-get="selection.html" hx-target="#widget">two<br>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla<br><span>...</span>
            <div uk-dropdown="offset: 50; delay-hide: 0; pos: right-top; container: #thedrop" hx-trigger="beforeshow" class="uk-width-1-2"
                 hx-get="nodeinfo.html" hx-target="this"></div>
            <hr>
        </div>
    </div>
    <div>
        <div hx-get="selection.html" hx-target="#widget">three<br>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla<br><span>...</span>
            <div uk-dropdown="offset: 50; delay-hide: 0; pos: right-top; container: #thedrop" hx-trigger="beforeshow" class="uk-width-1-2"
                 hx-get="nodeinfo.html" hx-target="this"></div>
            <hr>
        </div>
    </div>
    <div>
        <div hx-get="selection.html" hx-target="#widget">four<br>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla<br><span>...</span>
            <div uk-dropdown="offset: 50; delay-hide: 0;pos: right-top; container: #thedrop" hx-trigger="beforeshow" class="uk-width-1-2"
                 hx-get="nodeinfo.html" hx-target="this"></div>
            <hr>
        </div>
    </div>
    <div>
        <div hx-get="selection.html" hx-target="#widget">five<br>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla<br><span>...</span>
            <div uk-dropdown="offset: 50; delay-hide: 0; pos: right-top; container: #thedrop" hx-trigger="beforeshow" class="uk-width-1-2"
                 hx-get="nodeinfo.html" hx-target="this"></div>
            <hr>
        </div>
    </div>
    <div>
        <div hx-get="selection.html" hx-target="#widget">six<br>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla<br><span>...</span>
            <div uk-dropdown="offset: 50; delay-hide: 0; pos: right-top; container: #thedrop" hx-trigger="beforeshow" class="uk-width-1-2"
                 hx-get="nodeinfo.html" hx-target="this"></div>
            <hr>
        </div>
    </div>
        <div>
        <div hx-get="selection.html" hx-target="#widget">seven<br>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla<br><span>...</span>
            <div uk-dropdown="offset: 50; delay-hide: 0;pos: right-top; container: #thedrop" hx-trigger="beforeshow" class="uk-width-1-2"
                 hx-get="nodeinfo.html" hx-target="this"></div>
            <hr>
        </div>
    </div>
    <div>
        <div hx-get="selection.html" hx-target="#widget">eight<br>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla<br><span>...</span>
            <div uk-dropdown="offset: 50; delay-hide: 0; pos: right-top; container: #thedrop" hx-trigger="beforeshow" class="uk-width-1-2"
                 hx-get="nodeinfo.html" hx-target="this"></div>
            <hr>
        </div>
    </div>
    <div>
        <div hx-get="selection.html" hx-target="#widget">nine<br>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla<br><span>...</span>
            <div uk-dropdown="offset: 50; delay-hide: 0; pos: right-top; container: #thedrop" hx-trigger="beforeshow" class="uk-width-1-2"
                 hx-get="nodeinfo.html" hx-target="this"></div>
            <hr>
        </div>
    </div>
</div>
<div id="thedrop"></div>