#side {
    grid-area: left;

}

#input {
    grid-area: input;
}

#display {
    grid-area: display;

}

#detail {
    grid-area: detail;
    margin-left: 10px;
    margin-right: 10px;
}

#footer {
    grid-area: footer;
}

#input textarea {}

div {xborder: 1px solid black;}
html, body {height: 100%}
body {
    width: 99%;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 0px;
    grid-template-columns: 200px auto 55ch;
    grid-template-rows: 15% 75% 5%;
    grid-template-areas:
      "left input input"
      "left display detail"
      "left footer detail"
      ;
}

#display {
    overflow: scroll;
}